fastapi==0.126.0
Flask==3.1.2
uvicorn==0.38.0
sqlalchemy==2.0.45
requests==2.32.5
pydantic==2.12.5
python-dotenv==1.2.1
python-multipart==0.0.21
PyYAML==6.0.3
Jinja2==3.1.6
Werkzeug==3.1.4
click==8.3.1
anyio==4.12.0
idna==3.11
certifi==2025.11.12
urllib3==2.6.2
typing_extensions==4.15.0
pylint==3.3.4
gunicorn==23.0.0
